*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --light-blue: #84B5CB;
    --light-blue-hover:#619db8;
    --dark-blue: #2C3E50;
    --dark-blue-hover: #132436;
    --sand: #CBB292;
    --error: rgb(133, 49, 49); 
    --success: #047535;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Rakkas', cursive;
}
#nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav-left a img{
    width: 12%;
    height: auto;
    margin: 2%;
}
#nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}